<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<body style = "background-color:#FAEBD7">
	<div data-role="page" >
		<div data-role="header" data-position="fixed" style= "background-color: green; color: #FFFAF0;">
			<h1 style= "background-color:  green; color: color: #FFFFF0;" > <font size="6"> Edit F<img src="4.png" style="width:60px;height:50px;"><img src="3.png" style="width:60px;height:50px;">d Review</font></h1>
			<div data-role="navbar" style= "background-color:#3CB371">
			<ul>
    		<h1 style= "background-color: #3EB249;" ><li><font size="4"><a href="/view2"  style= "background-color: #009747; color: #FFFFF0" >Menu</a></font></li></h1>
			<h1 style= "background-color: #3EB249;" ><li><font size="4"><a href="/add2"  style= "background-color: #009747; color: #FFFFF0" >Add Food to the Menu</a></font></li></h1>
        	<h1 style= "background-color: #D2691E;" ><li><font size="4"><a href="/view"  style= "background-color: #009747; color: #FFFFF0" >View Food Reviews</a></font></li></h1>
			<h1 style= "background-color: #D2691E;" ><li><font size="4"><a href="/add"  style= "background-color: #009747; color: #FFFFF0" >Add ALL Food Review</a></font></li></h1>
			<h1 style= "background-color: #D2691E;" ><li><font size="4"><a href="/sorted_reviews"  style= "background-color: #009747; color: #FFFFF0" >View Reviews Sorted Per Dish</a></font></li></h1>
			</ul>
			</div><!-- /navbar -->
		</div><!-- /header -->	
		<div data-role="content">
		
			<div class="grid-6 grid intro">
      <h4>{{restaurant.name }}</h4>
    </div>
	    <div class="grid-10 grid">
      <div class="flexslider">
        <ul class="slides">
          <a href="#"><img width="500" height="280" src="data:image/png;base64,{{ restaurant.photo }}" alt="{{ restaurant.name }}"/>      </a> 
                  </ul>
      </div>
		
		
		
	</div><!-- /content -->	
		<form enctype="multipart/form-data" data-ajax='false' id = "myform" action="/enter" method="post">
			<fieldset > 
				<label for="food_name"><b>Name of the dish</b></label>

			</fieldset>

			<fieldset > 
				<label for="food_review"><b>Your Review:</b></label>
				<textarea cols="40" rows="8" name="food_review" id="food_review" required>{{ food.food_review}}</textarea>
			</fieldset>
			
			<fieldset>
			<label for="name"><b>Rating [1-5]:</b></label>
            <label>
            {% if food.food_rating == '1' %}
             <label> <input type="radio" id="food_rating" name="food_rating" value="1" checked><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="2"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="3"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="4"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="5"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			  
			  
			  
			             {% elif food.food_rating == '2' %}
             <label> <input type="radio" id="food_rating" name="food_rating" value="1" ><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="2"checked><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="3"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			<label>  <input type="radio" id="food_rating" name="food_rating" value="4"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			<label>  <input type="radio" id="food_rating" name="food_rating" value="5"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			  
			  
			              {% elif food.food_rating == '3' %}
             <label> <input type="radio" id="food_rating" name="food_rating" value="1" ><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="2"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="3"checked><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="4"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="5"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			  
			  
			  
			              {% elif food.food_rating == '4' %}
             <label> <input type="radio" id="food_rating" name="food_rating" value="1"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			  <label><input type="radio" id="food_rating" name="food_rating" value="2"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="3"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="4"checked><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="5"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			  
			  
			  {% else %}
              <label><input type="radio" id="food_rating" name="food_rating" value="1"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			  <label><input type="radio" id="food_rating" name="food_rating" value="2"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			 <label> <input type="radio" id="food_rating" name="food_rating" value="3"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			  <label><input type="radio" id="food_rating" name="food_rating" value="4"><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			  <label><input type="radio" id="food_rating" name="food_rating" value="5"checked><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a><a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" style="display: inline-block"></a></label>
			  {% endif %}
			 
			 
			 

            </label>
         </fieldset>
									
		
			<fieldset>
			<label for="place_checkmark"><b>Place a Check-Mark if its Worth Trying</b></label>
				{% if food.place_checkmark == 'active' %}
					<input type='checkbox' name='place_checkmark' id="place_checkmark" background-color="green" value='active' checked>
				{% else %}
					<input type='checkbox' name='place_checkmark' id="place_checkmark" background-color="green" value='active'>
				{% endif %}
			</fieldset>
	
			
			<div>
				<input type="hidden" value="edit" name="action">
				<button name="id" type="submit" value="{{ food.key.id() }}"style="background-color: #009933; color: #FFFAF0;">Edit</button>
			</div>
		</form><!-- /form -->
				<footer style="clear:both;"><br><div style="font-size:0.85em;clear:both;border-top:solid green">Tatyana Vlaskin - Assignment 3 - CS496 Winter 2016</div>
    </footer>
		</div><!-- /content -->

	</div><!-- /page -->
</body>
</html>
{% endautoescape %}
